/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Tahoma, sans-serif;
    flex-grow: 0;
    flex-shrink: 0;
} */

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.header {
    background-color: #155E95;
    height: 60px;
    width: 100%;
    padding: 15px;
    color: white;
}

.header ul {
    justify-content: space-between;
    padding: 0;
    display: inline-flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header a {
    margin: 0 auto;
    padding: auto;
    font-size: 20px;
    text-decoration: none;
    color: #ffff;
    transition: 0.3s ease-in-out;
    position: relative;
}

.header a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: #B1F0F7;
    transition: width 0.5s;
}

.header a:hover::after {
    width: 100%;
}

.header ul li a {
    margin: 0px 0px 0px 50px;
}

.header img {
    display: inline-block;
    width: 30px;  
}